@model netCoreShop.ViewModel.PieListViewModel
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bethany's Pie Shop</title>

</head>
<body>
    <h1>@Model.CurrentCategory</h1>
    @foreach (var Pie in Model.Pies)
    {
        <div>
            <h2>@Pie.Name</h2>
            <h3>@Pie.Price.ToString("c")</h3>
            <h4>@Pie.Category.CategoryName</h4>
        </div>
    }
</body>
</html>
